<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="css/elementui.css">
</head>
<body style="background-color: rgb(220, 253, 253);">
<div id="app">
    <div th:include="header.html :: header"></div>
    <el-row >
        <el-col v-for="p in pageInfo.results" :span="4" style="margin: 10px;">
            <div style="background-color: #fcfffb; border-radius: 3%;width: 200px;height: 300px;">
                <a :href="'/portal/pinfo?pid='+p.pid">
                    <img :src="p.image" style="width: 200px;height: 200px;border-top-left-radius: 2%;border-top-right-radius: 2%;" alt="picture">
                </a>
                <span style="font-size: 11px;">卖家: <a href="">{{p.sno}}</a></span>
                <p style="font-size: 12px;height: 24px;">{{p.pname}}</p>
                <h3 style="color: rgb(243, 95, 10);">￥{{p.price}}</h3>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="15">
            <el-pagination
                    @size-change="getData"
                    @current-change="getData"
                    :current-page.sync="currentPage"
                    :page-sizes="[10,20,30]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
        </el-col>
    </el-row>
</div>
</body>
<!-- import Vue before Element -->
<script src="js/vue.js"></script>
<script src="js/elementui.js"></script>
<script src="js/axios.js"></script>
<script>
    new Vue({
        el: '#app',
        data:{
            username:null
        }
        ,
        data() {
            return {
                activeIndex: '1',
                pageInfo:{
                    total: null,
                    results:[{
                        pid:null,
                        pname:null,
                        price:null,
                        pinfo:null,
                        image:null
                    }]
                },
                currentPage:1,
                pageSize:10,
                total:10,
                userInfo:{}
            }
        },
        methods: {
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            getData(){
                //注意此处反单引号
                axios.get(`/api/product/findPage/${this.currentPage}/${this.pageSize}`)
                    .then((respronse)=>{
                       this.pageInfo = respronse.data;
                       this.total = respronse.data.total;
                    });
            }
        },
        mounted(){//页面初始化方法
            //axios.get('http://localhost:80/api/product/findPage/1/10')
              //  .then(Response =>(this.pageInfo = Response.data));
            this.getData();


            axios.get(`/getUserInfo`)
                .then(response =>{
                    this.userInfo=response.data;
                });
        }
    })
</script>
</html>