<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="css/elementui.css">
</head>
<body style="background-color: rgb(220, 253, 253);">
<div id="app" style="background: url(http://localhost/portal/img/bg.jpg) no-repeat;width: 100%;height: 700px;background-size: cover">
    <el-row>
        <el-col :span="24">
            <el-menu :default-active="3" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                <el-menu-item index="1"><a href="/portal/index" ><i class="el-icon-eleme">首页</i></a></el-menu-item>
                <el-menu-item index="2"><a href="/portal/register" ><i class="el-icon-user">注册</i></a></el-menu-item>
                <el-menu-item index="3"><a href="/portal/login"><i class="el-icon-user-solid">登录</i></a></el-menu-item>
            </el-menu>
            <div class="line"></div>
        </el-col>
    </el-row>
    <el-row style="margin-top: 20px;">
        <el-col :span="18">
            <div>
                <el-form action="/portal/checkUser" method="post" ref="form" :model="form" :rules="rules" label-width="80px" class="login-box">
                    <h1>请登录</h1>
                    <el-form-item label="学号" prop="username">
                        <input type="text" name="username">
                    </el-form-item>
                    <el-form-item label="密码" prop="password">
                        <input type="password" name="password">
                    </el-form-item>
                    <el-form-item>
                        <input type="submit" value="登录" >
                    </el-form-item>
                </el-form>
            </div>
        </el-col>
    </el-row>
</div>
</body>
<script src="js/vue.js"></script>
<script src="js/elementui.js"></script>
<script src="js/axios.js"></script>
<script>
    new Vue({
        el: '#app',
        data(){
            return{
                activeIndex: '3',
                form:{
                    username:'',
                    password:''
                },
                rules:{
                    username:[
                        { required: true, message: '请输入账号', trigger: 'blur' },
                    ],
                    password:[
                        { required: true, message: '请输入密码', trigger: 'blur' },
                    ]
                }
            }
        },
        methods:{
            submit: function(formName){
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        alert("ss");
                        axios({
                            method: 'post',
                            url: 'http://localhost/portal/checkUser',
                            data: {
                                username: this.form.username,
                                password: this.form.password
                            },
                            transformRequest: [
                                function (data) {
                                    let ret = '';
                                    for (let it in data) {
                                        ret +=
                                            encodeURIComponent(it) +
                                            '=' +
                                            encodeURIComponent(data[it]) +
                                            '&'
                                    }
                                    return ret
                                }
                            ],
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded'
                            }
                        });
                    } else {
                        alert("submit failed!");
                        return false;
                    }
                });
            }
        }
    });
</script>
<style scoped>
    .login-box{
        width: 400px;
        border: 1px solid #DCDFE6;
        border-radius: 10px;
        margin: 0 auto;
        padding: 20px;
        box-shadow: 0 0 30px;
    }
</style>
</html>