<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>商品详情页</title>
    <link rel="stylesheet" href="css/elementui.css">
</head>
<body style="background-color: rgb(220, 253, 253);">
<div id="app">
    <div th:include="header.html :: header"></div>
    <el-row >
        <el-col :span=14 align="center">
            <img :src="product.image" alt="" style="width: 350px;height: 500px;margin: 10px;">
        </el-col>
        <el-col :span=10>
            <div><h3>{{product.pname}}</h3></div>
            <div>转  卖  价:<h3 style="color: rgb(216, 52, 12);">￥{{product.price}}</h3></div>
            <div>成色：{{product.level}}成新</div>
            <p>描述{{product.pinfo}}</p>
            <el-button type="warning" @click="buy()">立即购买</el-button>
            <el-button type="primary" @click="collect()">收藏</el-button>
        </el-col>
    </el-row>
</div>
</body>
<!-- import Vue before Element -->
<script src="js/vue.js"></script>
<script src="js/elementui.js"></script>
<script src="js/axios.js"></script>
<script src="js/getUrlParam.js"></script>
<script>
    new Vue({
        el: '#app',
        data:{
        }
        ,
        data() {
            return {
                product:{
                    pid:null,
                    pname:null,
                    level:null,
                    price:null,
                    category:null,
                    pinfo:null,
                    image:null,
                    time:null,
                    sno:null
                },
                userInfo:{}
            }
        },
        methods: {
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            buy(){
                location.href="/buy?pid="+this.product.pid+"&sno="+this.product.sno;
            },
            collect(){
                if (this.userInfo.sno == ''||this.userInfo.sno == null){
                    alert("请先登录");
                    window.location.replace("/portal/login");
                }else {
                    axios.get(`http://localhost/api/product/collect/${this.userInfo.sno}/${this.product.pid}`)
                        .then(response => {
                            if (response.data.code ==200){
                                alert("收藏成功");
                            } else {
                                alert(response.data.code);
                            }
                        })
                }
            }
        },
        mounted(){//页面初始化方法
            var pid = getQueryVariable("pid");
            axios.get('http://localhost:80/api/product/findById/'+pid)
                .then(Response =>(this.product = Response.data));

            axios.get('http://localhost:80/getUserInfo')
                .then(Response =>(this.userInfo = Response.data));
        }
    })



</script>
</html>