<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>商品详情页</title>
    <link rel="stylesheet" href="css/elementui.css">
    <link rel="stylesheet" href="css/fonts/element-icons.ttf">
</head>
<body style="background-color: rgb(220, 253, 253);">
<div id="app">
    <div th:include="header.html :: header"></div>
    <el-row >
        <el-col :span=14 align="center">
            <img :src="product.image" alt="" style="width: 350px;height: 500px;margin: 10px;">
        </el-col>
        <el-col :span=10>
            <div><h3>{{product.pname}}</h3></div>
            <div>转  卖  价:<h3 style="color: rgb(216, 52, 12);">￥{{product.price}}</h3></div>
            <div>成色：{{product.level}}成新</div>
            <p>描述{{product.pinfo}}</p>
            <el-button type="warning" @click="buy()">立即购买</el-button>
            <el-button type="primary" @click="collect()">收藏</el-button>
        </el-col>
    </el-row>
    <h3>留言</h3>
    <el-collapse accordion @change="handleChange">
        <el-collapse-item :name="m.id" v-for="m in messages">
            <template slot="title">
                &nbsp;&nbsp;
                <a class="el-icon-user-solid" :href="'/portal/findUser/'+m.sno">{{m.username}}</a>:
                <span>{{m.content}}</span>
                <el-button type="text" class="el-icon-edit" @click="anwser(m.id,m.username)">回复</el-button>
                <el-button type="text" class="el-icon-share">展开</el-button>
                <el-button type="text" class="el-icon-delete" @click="deleteMessage(m.id,m.sno,m.grade)">删除</el-button>
                <span style="float: right;">{{m.time}}</span>
                <hr>
            </template>

            <div v-for="m in secondMessages">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="el-icon-user-solid" :href="'/portal/findUser/'+m.sno">{{m.username}}</a>:
                <span>{{m.content}}</span>
                <el-button type="text" class="el-icon-edit" @click="anwser(m.id,m.username)">回复</el-button>
                <el-button type="text" class="el-icon-delete" @click="deleteMessage(m.id,m.sno,m.grade)">删除</el-button>
                <span style="float: right;">{{m.time}}</span>
            </div>
            <hr>
        </el-collapse-item>
    </el-collapse>

    <el-row>
        <el-col :span="18">
            <el-input
                    type="textarea"
                    :rows="2"
                    placeholder="请输入内容"
                    v-model="textarea">
            </el-input>
        </el-col>
        <el-col :span="6">
            <el-button type="primary" @click="leaveMessage()">留言</el-button>
        </el-col>
    </el-row>
    <br><br><br><br><br>
</div>
</body>
<!-- import Vue before Element -->
<script src="js/vue.js"></script>
<script src="js/elementui.js"></script>
<script src="js/axios.js"></script>
<script src="js/getUrlParam.js"></script>
<script>
    let id = 1000;
    new Vue({
        el: '#app',
        data:{
        }
        ,
        data() {
            return {
                activeIndex: '1',
                product:{
                    pid:null,
                    pname:null,
                    level:null,
                    price:null,
                    category:null,
                    pinfo:null,
                    image:null,
                    time:null,
                    sno:null
                },
                userInfo:{},
                textarea: null,
                messages:[{}],
                secondMessages:[{}]
            }
        },
        methods: {
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            buy(){
                if (this.userInfo.username==null){
                    alert("请先登录");
                    window.location.replace("/portal/login");
                } {
                    window.location.replace("/portal/order?pid="+this.product.pid);
                }
            },
            collect(){
                if (this.userInfo.sno == ''||this.userInfo.sno == null){
                    alert("请先登录");
                    window.location.replace("/portal/login?pid=");
                }else {
                    axios.get(`/api/product/collect/${this.userInfo.sno}/${this.product.pid}/`)
                        .then(response => {
                            if (response.data.code ==200){
                                alert(response.data.message);
                                window.location.replace("/portal/mycollect");
                            } else {
                                alert(response.data.message);
                            }
                        })
                }
            },
            getMessage(){
                axios.get(`/api/product/getMessage/`+getQueryVariable("pid")+`/1/`)
                    .then(res => {
                        this.messages=res.data;
                    });
            },
            anwser(id,username){
                if (this.userInfo.sno==null||this.userInfo.sno==""){
                    alert("请先登录");
                    window.location.replace("/portal/login");
                }else {
                    this.$prompt('请输入回复内容', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                    }).then(({ value }) => {
                        if (value==null || value==''){
                            alert("评论内容不能为空")
                        }else {
                            axios({
                                method:'post',
                                url:'/api/product/leaveMessage',
                                data: {
                                    sno: this.userInfo.sno,
                                    pid: this.product.pid,
                                    content: '@'+username+': '+value,
                                    parentid: id
                                }
                            })
                                .then(res => {
                                    if (res.data.code == 200){
                                        this.getMessage();
                                        this.getScondMessage(id);
                                        this.$message({
                                            type: 'success',
                                            message: '回复成功'
                                        });
                                    } else {
                                        alert(res.data.message);
                                    }
                                });
                        }
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '取消输入'
                        });
                    });
                }
            },
            leaveMessage(){
                if (this.userInfo.sno==null || this.userInfo.sno==""){
                    alert("请先登录");
                    window.location.replace("/portal/login");
                }else if (this.textarea=='' || this.textarea==null){
                    alert("内容不能为空");
                }
                else {
                    axios({
                        method:'post',
                        url:'/api/product/leaveMessage',
                        data: {
                            sno: this.userInfo.sno,
                            pid: this.product.pid,
                            content: this.textarea,
                            parentid: 0
                        }
                    })
                        .then(res => {
                            if (res.data.code == 200){
                                this.getMessage();
                            } else {
                                alert(res.data.message);
                            }
                        })
                }
            },
            //展开二级回复 val为留言的父id
            handleChange(val) {
                this.getSecondMessage(val);
            },
            getSecondMessage(id){
                axios.get(`/api/product/getMessageByParentId/`+id)
                    .then(res => {
                        this.secondMessages=res.data;
                    });
            },
            deleteMessage(id,sno,grade){
                if (this.userInfo.sno==sno || this.userInfo.sno==this.product.sno){
                    axios.get(`/api/product/deleteMessageById/`+id)
                        .then(res => {
                            if (res.data.code==200){
                                alert(res.data.message);
                                if (grade==1){
                                    this.getMessage();
                                }
                                if (grade==2){
                                    this.getSecondMessage(id);
                                }
                            }else {
                                alert(res.data.message);
                            }
                        })
                } else{
                    alert("只能删除自己的留言，或者自己发布的商品的页面下的留言");
             }
            }
        },
        mounted(){//页面初始化方法
            var pid = getQueryVariable("pid");
            axios.get('/api/product/findById/'+pid)
                .then(Response =>(
                    this.product = Response.data
                    ));
            axios.get('/getUserInfo')
                .then(Response =>(this.userInfo = Response.data));
            this.getMessage();
        }
    })

</script>
</html>