<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<html>
<head>
    <meta charset="UTF-8">
    <title>商品上传</title>
    <link rel="stylesheet" href="css/elementui.css">
</head>
<body style="background-color: rgb(220, 253, 253);">
<div id="app">
    <el-form ref="form" :rules="rules" :model="pojo" label-width="80px" class="demo-ruleForm">
        <el-form-item label="商品名称" prop="pname">
            <el-input v-model="pojo.pname"></el-input>
        </el-form-item>
        <el-form-item label="商品新旧程度" prop="level">
            <el-select v-model="pojo.level" placeholder="请选择新旧程度">
                <el-option label="全新" value="10"></el-option>
                <el-option label="九成新" value="9"></el-option>
                <el-option label="八成新" value="7"></el-option>
                <el-option label="七成新" value="7"></el-option>
                <el-option label="六成新" value="6"></el-option>
                <el-option label="五成新" value="5"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="商品价格" prop="price">
            <el-input v-model="pojo.price"></el-input>
        </el-form-item>
        <el-form-item label="商品分类" prop="category">
            <el-select v-model="pojo.category" placeholder="请选择分类">
                <el-option label="数码电子" value="1"></el-option>
                <el-option label="生活用品" value="2"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="详细描述" prop="pinfo">
            <el-input type="textarea" v-model="pojo.pinfo"></el-input>
        </el-form-item>
        <el-form-item label="商品图片" prop="image">
            <el-upload
                    class="avatar-uploader"
                    action="http://localhost/portal/upload"
                    :show-file-list="false"
                    :on-success="handleAvatarSuccess"
                    :before-upload="beforeAvatarUpload">
                <img v-if="imageUrl" :src="imageUrl" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
        </el-form-item>
        <el-button type="primary" @click="submitForm('form')">上传</el-button>
        <el-button type="text" @click="resetForm('form')">重置</el-button>

    </el-form>
</div>
</body>
<script src="js/vue.js"></script>
<script src="js/elementui.js"></script>
<script src="js/axios.js"></script>
<script src="js/getUrlParam.js"></script>
<script>
    new Vue({
        el: '#app',
        data:{
            code:null
        },
        data() {
            return {
                pojo:{
                    sno:2017101866
                },
                imageUrl:'',
                rules: {
                    pname: [
                        {required: true, message: '请输入商品名称', trigger: 'blur'},
                        {min: 2, max: 15, message: '长度在 2 到 15 个字符', trigger: 'blur'}
                    ],
                    category: [
                        {required: true, message: '请选择分类', trigger: 'change'}
                    ],
                    price: [
                        {required: true, message: '请输入商品价格', trigger: 'blur'},
                        {min: 1, max: 15, message: '长度在 2 到 15 个字符', trigger: 'blur'}
                    ],
                    level: [
                        {required: true, message: '请选择新旧程度', trigger: 'change'}
                    ],
                    pinfo: [
                        {required: true, message: '请输入商品描述', trigger: 'blur'},
                        {min: 5, message: '长度大于5 个字符', trigger: 'blur'}
                    ],
                    image:[
                        {required: true, message: '请上传商品图片' }
                    ]
                }
            }
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        axios.post(`http://localhost/api/product/save/`,this.pojo)
                            .then(response =>{
                                if(response.data.code==200){
                                    alert("操作成功");
                                    window.location.replace("/index");
                                }else{
                                    alert("操作失败");
                                }
                            });
                    } else {
                        alert('请输入完整的商品信息');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
            ,
            handleAvatarSuccess(res, file) {
                this.imageUrl = file.response;
                this.pojo.image=this.imageUrl;
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            }
        },
        mounted(){//页面初始化方法

        }
    })
</script>
<style>
    .el-header {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }

    .el-aside {
        color: #333;
    }
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }
    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }
</style>
</html>